|  El objetivo en esta version del prototipo es crear la representación de la nueva terminal.

div Se agregaron las siguientes funciones al prototipo:
    ul
        li Se creo grafo de la nueva terminal que es desplegado al momento de ingresar al prototipo.
        li ...
