|  El objetivo en esta version del prototipo es crear la representación de la nueva terminal.

div Se agregaron las siguientes funciones al prototipo:
    ul
        li Se creo grafo de la nueva terminal que es desplegado al momento de ingresar al prototipo.
        li Se creo la función para establecer la dirección en nodos vecinos respecto al nodo seleccionado.
        li Se creo la función para que el usuario suministre la orientación hacia cada nodo.
        li Se creo la validación de la orientación de cada nodo respecto a sus vecinos.
