|  El objetivo en esta version del prototipo es implementar un algoritmo de la ruta mas corta entre dos nodos.
div Se agregaron las siguientes funciones al prototipo:
    ul
        li El usuario puede establecer el valor de la distancia que existe entre dos nodos, para ello selecciona un arco del grafo y luego establece el valor de la distancia.