<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Practica de Creación de Grafos</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/vis/dist/vis.min.js"></script>
    <script src="js/app.js"></script>
    <script src="../js/dijkstras.js"></script>
    <script src="js/redExample.js"></script>
  </head>
</html>
<body ng-app="app" ng-controller="AppCtrl">
  <header>
    <h1>Creación del Mapa de Recorridos</h1>
    <h2>Representación de Senderos, Intersecciones y Puntos de Referencia</h2>
  </header>
  <legend class="text-center"> Mejora en la interfaz de usuario para la creación de trayectos.</legend>
  <div class="container">
    <div class="well well-sm"><strong>Objetivo:</strong> El objetivo en esta version del prototipo es mejorar la interfaz de usuario distribuyendo el panel de control como una barra lateral y el canvas de la red hacia el lado derecho del panel de control.
      <div>Se agregaron las siguientes funciones al prototipo:
        <ul>
          <li>Organización del panel de controles y el canvas de la red, para lo cual el layout ya no lo importará desde la raíz del proyecto sino desde la carpeta del prototipo.</li>
        </ul>
      </div>
    </div>
  </div>
  <div style="margin: 10px;" class="row">
    <div class="col-sm-4 col-md-3">
      <h4 class="text-center">Controles</h4>
      <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
        <div class="panel panel-default">
          <div role="tab" class="panel-heading">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#trayectoria" aria-expanded="true" aria-controls="trayectoria">Trayectorias</a></h4>
          </div>
          <div id="trayectoria" role="tabpanel" aria-labelledby="Trayectorias" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-10 col-xs-9">
                  <h3>Trayecto</h3>
                  <div class="form-inline text-center">
                    <div ng-repeat="nodo in trayecto" style="margin-bottom: 15px; display: inline-block">
                      <input type="number" style="width: 75px;" ng-model="nodo.id" class="form-control text-center">
                      <label><i ng-hide="($index + 1) == trayecto.length" class="glyphicon glyphicon-menu-right"></i></label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2 col-xs-3">
                  <div class="text-center">
                    <button ng-click="nodo.add()" class="btn btn-success btn-block"> <i class="glyphicon glyphicon-plus"></i> Agregar Nodo</button>
                    <button ng-click="nodo.remove()" class="btn btn-danger btn-block"> <i class="glyphicon glyphicon-minus"></i> Quitar Nodo</button>
                    <button ng-click="trayectoria.clean()" class="btn btn-info btn-block">
                       
                       Limpiar Trayecto
                    </button>
                    <button ng-click="trayectoria.reestablecer()" class="btn btn-warning btn-block">
                       
                       Reestablecer
                    </button>
                    <button ng-click="trayectoria.crear()" class="btn btn-primary btn-block"> <i class="glyphicon glyphicon-floppy-disk"></i> Crear Trayecto</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div role="tab" class="panel-heading">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#comportamiento" aria-expanded="true" aria-controls="trayectoria">Comportamiento</a></h4>
          </div>
          <div id="comportamiento" role="tabpanel" aria-labelledby="Trayectorias" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <h3>Comportamiento del Grafo</h3>
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="comportamiento.movimiento" ng-change="comportamiento.toggleMovimiento()">Deshabilitar Movimiento de Nodos
                        </label>
                      </div>
                      <button ng-click="comportamiento.savePositions()" class="btn btn-info btn-block">Guardar posición de Nodos</button>
                      <button ng-click="comportamiento.restorePositions()" class="btn btn-info btn-block">Restaurar posición de Nodos</button>
                      <button ng-click="comportamiento.removeNode()" class="btn btn-danger btn-block">Eliminar Nodo Seleccionado</button>
                      <button ng-click="comportamiento.removeEdge()" class="btn btn-warning btn-block">Eliminar Arco/s Seleccionado/s</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div role="tab" class="panel-heading">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#distancia" aria-expanded="true" aria-controls="trayectoria">Distancia entre Nodos</a></h4>
          </div>
          <div id="distancia" role="tabpanel" aria-labelledby="Trayectorias" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div ng-hide="edicionNodo || edicionArco" class="col">
                      <h2 class="text-center">Seleccione un Nodo o Arco para editarlo.</h2>
                    </div>
                    <div ng-show="edicionNodo" class="col-sm-6">
                      <div class="well well-sm">
                        <div class="form-group text-center"> 
                          <label>Nodo Seleccionado: {{ edicionNodo.label }}</label>
                        </div>
                        <div class="form-inline form-group">Tipo de Nodo: 
                          <div class="radio">
                            <label>
                              <input type="radio" name="tipoNodo" ng-model="edicionNodo.tipo" value="1">Intersección
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" name="tipoNodo" ng-model="edicionNodo.tipo" value="0">Punto de Referencia
                            </label>
                          </div>
                        </div>
                        <button ng-click="nodo.setCambios()" class="btn btn-info btn-block">Aplicar</button>
                      </div>
                    </div>
                    <div ng-show="edicionArco" class="col-sm-6">
                      <div class="well well-sm">
                        <div class="form-group text-center">
                          <label>Arco Seleccionado desde Nodo {{ edicionArco.from }} al {{ edicionArco.to}}.</label>
                        </div>
                        <div class="form-inline form-group">La distancia entre los nodos es:
                          <input type="number" style="width: 100px; margin-left: 5px; margin-right: 5px;" ng-model="edicionArco.distancia" class="form-control text-center">
                        </div>
                        <button ng-click="arco.setDistancia()" class="btn btn-info btn-block">Aplicar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div role="tab" class="panel-heading">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#shortestPath" aria-expanded="true" aria-controls="trayectoria">Camino más Corto</a></h4>
          </div>
          <div id="shortestPath" role="tabpanel" aria-labelledby="Trayectorias" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-inline text-center form-group">
                    <label>Nodo Inicial</label>
                    <select ng-options="item.label for item in nodes._data track by item.id" ng-model="nodoInicial" class="form-control"></select>
                    <label>Nodo Final</label>
                    <select ng-options="item.label for item in nodes._data track by item.id" ng-model="nodoFinal" class="form-control"></select>
                    <button ng-click="shortestPath()" class="btn btn-default">Calcular Camino más Corto</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2 well well-sm text-center">
                  <h3 ng-repeat="item in camino" style="display: inline-block;">{{ item }} <i ng-hide="$index +1 == camino.length" class="glyphicon glyphicon-menu-right"></i></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div role="tab" class="panel-heading">
            <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#orientacion" aria-expanded="true" aria-controls="trayectoria">Orientación</a></h4>
          </div>
          <div id="orientacion" role="tabpanel" aria-labelledby="Trayectorias" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-12">
                  <p>Cada nodo tiene una conexión hacia otros, estos estan ubicados en diferentes direcciones: Izquierda, Derecha, Arriba o Abajo.</p>
                  <div ng-show="edicionNodo">
                    <legend>Nodo {{ edicionNodo.id }} conectado a:</legend>
                    <ul class="from-group">
                      <li ng-repeat="item in nodo.conexiones" class="form-inline">Nodo <strong>" {{ item }} " </strong>por 
                        <select ng-model="edicionNodo.conexiones[item]" class="form-control">
                          <option disabled selected>--Seleccione una opción--</option>
                          <option value="0">Arriba</option>
                          <option value="1">Derecha</option>
                          <option value="2">Abajo</option>
                          <option value="3">Izquierda</option>
                        </select>
                      </li>
                    </ul>
                    <button ng-click="nodo.setOrientacion()" class="btn btn-primary">Guardar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div class="lead">Mapa de Recorrido:</div>
      <div class="panel panel-default">
        <div id="network" class="panel-body"></div>
      </div>
    </div>
  </div>
  <div style="margin: 10px" class="row">
    <div class="well well-sm">
      <h4>Modelo</h4>
      <ul>
        <li ng-repeat="node in nodes._data"><strong>Id: </strong>{{ node.id }}<strong>- Label:</strong>{{ node.label }}</li>
      </ul>
    </div>
  </div>
</body>