extend layout.jade

block javascripts
    script(src="js/app.js")
    script(src="../js/dijkstras.js")
    script(src="js/redExample.js")

block titulo
    | Mejora en la interfaz de usuario para la creación de trayectos.

block objetivo
    include ./objetivo.jade

block controlador
    ul(class="nav nav-tabs")
        li(role="presentation" class="active")
            a(href="#trayectos", data-toggle="tab") Trayectos
        li(role="presentation")
            a(href="#comportamiento", data-toggle="tab") Comportamiento
        li(role="presentation")
            a(href="#informacion", data-toggle="tab") Distancia entre Nodos
        li(role="presentation")
            a(href="#shortestPath", data-toggle="tab") Camino más Corto
        li(role="presentation")
            a(href="#orientacion", data-toggle="tab") Orientación

    div(class="tab-content", style="background-color: white; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 25px 10px;")
        div(role="tabpanel", class="tab-pane active", id="trayectos")
            include partials/_trayectoria.jade

        div(role="tabpanel", class="tab-pane", id="comportamiento")
            include partials/_comportamiento.jade

        div(role="tabpanel", class="tab-pane", id="informacion")
            include partials/_distancia.jade

        div(role="tabpanel", class="tab-pane", id="shortestPath")
            include partials/_shortestPath.jade

        div(role="tabpanel", class="tab-pane", id="orientacion")
            include partials/_orientacion.jade