|  El objetivo en esta version del prototipo es mejorar la interfaz de usuario distribuyendo el panel de control como una barra lateral y el canvas de la red hacia el lado derecho del panel de control.

div Se agregaron las siguientes funciones al prototipo:
    ul
        li Organización del panel de controles y el canvas de la red, para lo cual el layout ya no lo importará desde la raíz del proyecto sino desde la carpeta del prototipo.
        li Se factorizo el código de la vista y se adapto al nuevo diseño en el panel lateral.