p En este prototipo se realizarón mejoras en la disposición de controles de usuarios para la creación del grafo que representa al mapa de recorridos.
p Los controles que se agregaron fueron: 
    ul
        li Habilitar/Deshabilitar movimiento de Nodos
        li Eliminar un nodo seleccionado.
        li Eliminar arcos seleccionados.