div(class="row")
    div(class="col-sm-12")
        div(class="form-inline text-center form-group")
            label Nodo Inicial
            select(class="form-control", ng-options="item.label for item in nodes._data track by item.id", ng-model="nodoInicial")
            label Nodo Final
            select(class="form-control", ng-options="item.label for item in nodes._data track by item.id", ng-model="nodoFinal")
            button(ng-click="shortestPath()", class="btn btn-default") Calcular Camino más Corto
div(class="row")
    div(class="col-sm-8 col-sm-offset-2 well well-sm text-center")
        h3(ng-repeat="item in camino", style="display: inline-block;")
            | {{ item }} 
            i(class="glyphicon glyphicon-menu-right", ng-hide="$index +1 == camino.length")