p El Prototipo 1 mostro la dificultad que se tiene al crear un grafo que represente el recorrido creando de forma individual los arcos y nodos, es por ello que se replanteo la forma de generaci칩n de un mapa de recorridos a traves de la generaci칩n de trayectos. Cada trayecto que se crea, es una sucesion de nodos conectados por arcos.
p Adem치s se estableci칩 una serie de restricciones al momento de crear una trayecto:
    ul
        li No existe una arista que se conecte a un mismo nodo.
        li Entre dos nodos diferentes solo existe una arista que los une.