extend ../layout.jade

block javascripts
    script(src="js/app.js")

block titulo
    | Mejora en la interfaz de usuario para la creación de trayectos.

block controlador
    div(class="row")
        div(class="col-sm-10 col-xs-9")
            h3 Trayectoria
            div(class="form-inline text-center")
                div(ng-repeat="nodo in trayecto", style="margin-bottom: 15px; display: inline-block")
                    input(type="number", class="form-control text-center", style="width: 75px;")
                    label()
                        i(class="glyphicon glyphicon-menu-right", ng-hide="($index + 1) == trayecto.length")
        div(class="col-sm-2 col-xs-3")
            div(class="text-center")
                button(class="btn btn-danger btn-block") 
                    i(class="glyphicon glyphicon-minus")
                    |  Quitar Nodo
                button(class="btn btn-success btn-block") 
                    i(class="glyphicon glyphicon-plus")
                    |  Agregar Nodo
                button(class="btn btn-primary btn-block") 
                    i(class="glyphicon glyphicon-floppy-disk")
                    |  Crear Trayecto
                button(class="btn btn-info btn-block") 
                    |  Limpiar Trayecto
                button(class="btn btn-warning btn-block") 
                    |  Reestablecer
    div(class="row")
        div(class="col-sm-12")
            h3 Configuración General
            div(class="row")
                div(class="col-sm-8 col-sm-offset-2")
                    div(class="form-horizontal")
                        div(class="form-group")
                            label
                                input(type="checkbox")
                                | Deshabilitar Movimiento de Nodos


