extend ../layout.jade

block javascripts
    script(src="js/app.js")

block titulo
    | Mejora en la interfaz de usuario para la creaci贸n de trayectos.

block controlador
    div(class="row")
        div(class="col-sm-10 col-xs-9")
            h3 Trayecto
            div(class="form-inline text-center")
                div(ng-repeat="nodo in trayecto", style="margin-bottom: 15px; display: inline-block")
                    input(type="number", class="form-control text-center", style="width: 75px;", ng-model="nodo.id")
                    label()
                        i(class="glyphicon glyphicon-menu-right", ng-hide="($index + 1) == trayecto.length")
        div(class="col-sm-2 col-xs-3")
            div(class="text-center")
                button(class="btn btn-success btn-block", ng-click="nodo.add()") 
                    i(class="glyphicon glyphicon-plus")
                    |  Agregar Nodo
                button(class="btn btn-danger btn-block", ng-click="nodo.remove()") 
                    i(class="glyphicon glyphicon-minus")
                    |  Quitar Nodo
                button(class="btn btn-info btn-block", ng-click="trayectoria.clean()") 
                    |  Limpiar Trayecto
                button(class="btn btn-warning btn-block", ng-click="trayectoria.reestablecer()") 
                    |  Reestablecer
                button(class="btn btn-primary btn-block", ng-click="trayectoria.crear()") 
                    i(class="glyphicon glyphicon-floppy-disk")
                    |  Crear Trayecto
    div(class="row")
        div(class="col-sm-12")
            h3 Comportamiento del Grafo
            div(class="row")
                div(class="col-sm-6 col-sm-offset-3")
                    div(class="checkbox")
                        label
                            input(type="checkbox")
                            | Deshabilitar Movimiento de Nodos
                    button(class="btn btn-info btn-block")
                        | Guardar posici贸n de Nodos
                    button(class="btn btn-danger btn-block")
                        | Eliminar Nodo Seleccionado
                    button(class="btn btn-warning btn-block")
                        | Eliminar Arco/s Seleccionado/s
    div(class="row")
        div(class="col-sm-12")
            h3 Informaci贸n Referencial
            div(class="row")
                div(class="col-sm-6 col-sm-offset-3")
                    button(class="btn btn-info btn-block")
                        | Marcar Nodo Seleccionado como Punto de Referencia (PR)
                    button(class="btn btn-primary btn-block")
                        | Marcar Nodo Seleccionado como Intersecci贸n (I)

