p En este prototipo se plante贸 mejorar los controles de usuario para la creaci贸n de trayectos.
p Los controles que se agregan son:
    ul
        li Restablecer el formulario de trayecto.
        li Limpieza de campos del formulario para agregar nueva trayecto.
        li Creaci贸n rapida de N campos que representan la sucesion de nodos conectados.
        li Eliminaci贸n de Nodos y Arcos.