div(class="checkbox")
    label
        input(type="checkbox", ng-model="comportamiento.movimiento", ng-change="comportamiento.toggleMovimiento()")
        | Deshabilitar Movimiento de Nodos
button(class="btn btn-info btn-block", ng-click="comportamiento.savePositions()")
    | Guardar posición de Nodos
button(class="btn btn-info btn-block", ng-click="comportamiento.restorePositions()")
    | Restaurar posición de Nodos
button(class="btn btn-danger btn-block", ng-click="nodo.remove()")
    | Eliminar Nodo Seleccionado
button(class="btn btn-warning btn-block", ng-click="arco.remove()")
    | Eliminar Arco/s Seleccionado/s