p Cada nodo tiene una conexión hacia otros, estos estan ubicados en diferentes direcciones: Izquierda, Derecha, Arriba o Abajo.
button(class="btn btn-success btn-block", ng-click="orientacion.validar()") Validar
div(ng-show="nodoEdit")
    legend Nodo {{ nodoEdit.id }} conectado a:
    div(class="form-group",ng-repeat="item in nodo.conexiones")
        | Nodo 
        strong " {{ item }} " 
        | por 
        select(class="form-control", ng-model="nodoEdit.conexiones[item]")
            option(value="izq") Izquierda
            option(value="der") Derecha
            option(value="arr") Arriba
            option(value="abj") Abajo
    button(class="btn btn-primary btn-block", ng-click="orientacion.updateVecinos()") Guardar

