div(ng-show="nodoEdit" class="form-group")
    legend Nodo {{ nodoEdit.id }} conectado a:
    div(class="form-group",ng-repeat="item in nodo.conexiones")
        | Nodo 
        strong " {{ item }} " 
        | por 
        select(class="form-control", ng-model="nodoEdit.conexiones[item]")
            option(value="izq") Izquierda
            option(value="der") Derecha
            option(value="arr") Arriba
            option(value="abj") Abajo
    button(class="btn btn-primary btn-block", ng-click="orientacion.updateVecinos(); orientacion.validar()") Guardar

p Cada nodo tiene una conexión hacia otros, estos estan ubicados en diferentes direcciones: Izquierda, Derecha, Arriba o Abajo.
p
    div(class="info-nodo-success")
    | El Nodo tiene correctamente establecidas las direcciones respecto a sus nodos vecinos
p
    div(class="info-nodo-warning")
    | Existe un conflicto en la orientación del nodo respecto a sus vecinos.
