|  El objetivo en esta version del prototipo es implementar la información referencial segun la dirección que tenga un nodo hacia sus nodos vecinos.
|  La cantidad maxima de conexiones en un nodo intersección hacia otros es de 4, las cuales estaran orientadas segun Izquierda, Derecha, Adelante, Atras.
div Se agregaron las siguientes funciones al prototipo:
    ul
        li 