|  El objetivo en esta version del prototipo es implementar la informaci贸n referencial segun la direcci贸n que tenga un nodo hacia sus nodos vecinos.
|  La cantidad maxima de conexiones en un nodo intersecci贸n hacia otros es de 4, las cuales estaran orientadas segun Izquierda, Derecha, Adelante, Atras.
div Se agregaron las siguientes funciones al prototipo:
    ul
        li Interfaz para el ingreso de informaci贸n sobre las direcciones que existen desde un nodo.
        li Se agrego la funcion para almacenar las direciones hacia cada nodo.